body {
    background-image: url(../img/concesionario.jpg);  
}
.header {
    background-color:rgba(44, 43, 43);
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
}
header h1 {
    font-size: 22px;
    margin:0;
}

.btn.btn-raised.btn-primary {
    background-color: blue !important;
    font-size: 16px;
    width: 100%;  
}
.contenido {
    margin-top: 60px;
    background-color:rgba(44, 43, 43, 0.8);
    justify-content: center;
    max-width: 350px;
    margin: 40px auto;
}
.formulario{
    justify-content: center;
    color: white;
}
.form-group{
    position: relative;
    padding: 5px;
    margin: 10px;
}
.formula{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.cargando{
    text-align: center;
}
.cargando img{
    display: none;
    margin: 0 auto;
    max-width: 100px;
    max-height: 100px;
    padding: 10px;
}
.error {
    background-color: #FBE9E7;
    border: 1px solid #f4f01e;
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
	color: #F4511E;
}
.correcto {
    background-color: rgba(37, 40, 233, 0.9);
    border: 1px solid rgb(4, 23, 128);
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
    color: white;
}